<html ng-app="blog">
    <head>
        <meta charset="utf-8"/>
        <title>Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/blog.css">
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/blogController.js"></script>        
    </head>

    <body data-ng-controller="blogController">
        <div class="page-header">
            <h1><a href="index.html">Blog</a></h1>
        </div>

        <div id="wrap">
            <div id="left_col">
                <h3> Search </h3>
                <p><input data-ng-model = "filterTerm"/> </input> <a class="btn btn-default" data-ng-click="filter(filterTerm)"><span class="glyphicon glyphicon-search"></span></a></p>
            </div>
            <div id="right_col">
                <div id="wrap">
                    <div id="left_col">
                        <input data-ng-model = "isContentFilterOn" ng-init = "false" type="checkbox" value="content" id = "content" > In contents </input> <br>
                        <input type="checkbox" value="content" id = "content"> In tags </input> <br>
                        Between <input type="text" data-ng-model = "dateFrom" type="text" class="datepicker"></input> 
                    </div>

                    <div id="right_col">
                        <br>
                        <br>
                        <br>                        
                        and
                        <input type="text" data-ng-model = "dateTo" type="text" class="datepicker"></input> <br>
                    </div>
                </div>
            </div>  
        </div>      

        <div class="content container" style = "padding-top: 300px">
            <div class="row">
                <div class="col-md-8 col-centered">
                    <div class="post" data-ng-repeat="post in postList | myfilter : this">
                        <div class="date">published: {{post.published_at | date:'dd-MM-yyyy, HH:mm'}}</div>
                        <a class="btn btn-default" data-ng-click="editPost(post)"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-default" data-ng-click="deletePost(post)"><span class="glyphicon glyphicon-remove"></span></a>
                        <h1><a href="">{{post.title}}</a></h1>
                        <p>{{post.text}}</p>                        
                    </div>  
                </div>
                <div class="col-md-4 col-centered">
                    <h1 ng-if="formMode=='NEW'">New post!</h1>
                    <h1 ng-if="formMode=='EDIT'">Edit post!</h1>
                    <form class="post-form" >
                        <h4>Title:</h4>
                        <p><input type="text" name="title" data-ng-model="title"></p>
                        <h4>Text:</h4>
                        <p><textarea name="text" data-ng-model="text"></textarea></p>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="reset" class="btn btn-default" ng-if="formMode=='NEW'">Clear</button>
                            <button type="button" class="btn btn-default" ng-if="formMode=='NEW'" ng-click="addPost()">Save</button>
                            <button type="reset" class="btn btn-default" ng-if="formMode=='EDIT'" ng-click ="cancelEdit()">Cancel edit</button>
                            <button type="button" class="btn btn-default" ng-if="formMode=='EDIT'" ng-click="confirmEdit()">Confirm edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
